@page
@model ContactModel
@{
    ViewData["Title"] = "Contact page";
    Console.WriteLine("Contact View processing");
  
}

<div class="text-center">
    <h1 class="display-4">Transflower Store</h1>
    <hr/>
    <h3>Contact </h3>
    <p>Email: ravi.tambade@transdflower.in</p>
    <p>Contact Number: 9881735801</p>
    <p>601, Rama Apartment, Walwekar Nagar, Pune Satara Road</p>
</div>
