@{
    ViewData["Title"] = "Dashboard Page";
}

<h2>Sales Dashboard</h2>
<hr/>
  <a href="/dashboard/barchart">Bar Chart</a> |   <a href="/dashboard/piechart">Pie Chart</a>  |  <a href="/dashboard/linechart">Line Chart</a> 
<hr/>
