<title>@ViewData["Title"] - Line Chart</title>  
<script type="text/javascript" 
        src="https://www.gstatic.com/charts/loader.js"></script>  



<h2>Sales Dashboard</h2>
<hr/>
  <a href="/dashboard/barchart">Bar Chart</a> |   <a href="/dashboard/piechart">Pie Chart</a>  |  <a href="/dashboard/linechart">Line Chart</a> 
<hr/>

<div id="chart_div"></div>  

<script type="text/javascript">  
  
    google.charts.load('current', {  
        packages: ['corechart', 'bar']  
    });  
    google.charts.setOnLoadCallback(LoadData);  
  
    function LoadData() {  
        $.ajax({  
  
            url: '/dashboard/Staterevenue',  
            dataType: "json",  
            type: "GET",  

            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },  
            success: function(data) {  
                revenueChart(data);  
                return false;  
            }  
        });  
        return false;  
    }  
  
    function revenueChart(data) {  
        var dataArray = [  
            ['City', '2020 revenue', '2010 revenue', '2000 revenue', '1990 revenue']  
        ];  
        $.each(data, function(i, item) {  
            dataArray.push([item.name, item.revenueYear2020, item.revenueYear2010, item.revenueYear2000, item.revenueYear1990]);  
        });  
        var data = google.visualization.arrayToDataTable(dataArray);  
        var options = {  
            title: 'Revenue of Largest Cities of India ',  
            chartArea: {  
                width: '50%'  
            },  
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],  
            hAxis: {  
                title: 'City',  
                minValue: 0  
            },  
            vAxis: {  
                title: 'Total revenue'  
            }  
        };  
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));  
  
        chart.draw(data, options);  
        return false;  
    }  
</script>  