@{
    ViewData["Title"] = "Flower Details Page";
}

<h3>Beautiful Flower Detalis</h3>
<hr/>
<p>Id:45</p>
<p>Title:Gerbera</p>
<p>Description:Wedding Flower</p>
<p>Unit Price:12 Rs.</p>
<p>Stock Available:56000</p>

<a href="/shoppingcart/add">Add to Cart</a>