@{
    ViewData["Title"] = "Orders Page";
}

<div class="text-center">
    <h1 class="display-4">My Orders</h1>
 <hr/>
 <ol>
    <li>1234    Delivered   1/2/2023        5600</li>
    <li>1235    Rejected   5/2/2023         34000</li>
    <li>1236    Inprocess   12/2/2023       87000</li>
    <li>1237    Approved   19/2/2023        34000</li>
    <li>1238    Inprocess   21/2/2023       230000</li>
 </ol>
</div>
